<% title "Banks" %>
<p><%= link_to image_tag("new.png", :title => "New"), new_bank_path %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Priority</th>
  </tr>
  <% for bank in @banks %>
    <tr>
      <td><%=h bank.name %></td>
      <td><%=h bank.description %></td>
      <td><%=h bank.priority %></td>
      <td><%= link_to "Show", bank %></td>
      <td><%= link_to "Edit", edit_bank_path(bank) %></td>
      <td><%= link_to "Destroy", bank, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


