<p>
  <b>History:</b>
  <%=h @purchase_order_history.history_id %>
</p>

<p>
  <b>Year:</b>
  <%=h @purchase_order_history.year %>
</p>

<p>
  <b>Month:</b>
  <%=h @purchase_order_history.month %>
</p>

<p>
  <b>Delivery date:</b>
  <%=h @purchase_order_history.delivery_date %>
</p>

<p>
  <b>Pr number:</b>
  <%=h @purchase_order_history.pr_number %>
</p>

<p>
  <b>Po number:</b>
  <%=h @purchase_order_history.po_number %>
</p>

<p>
  <b>Project code:</b>
  <%=h @purchase_order_history.project_code %>
</p>

<p>
  <b>Po issue date:</b>
  <%=h @purchase_order_history.po_issue_date %>
</p>

<p>
  <b>Supplier code:</b>
  <%=h @purchase_order_history.supplier_code %>
</p>

<p>
  <b>Material code:</b>
  <%=h @purchase_order_history.material_code %>
</p>

<p>
  <b>Category:</b>
  <%=h @purchase_order_history.category %>
</p>

<p>
  <b>Item description:</b>
  <%=h @purchase_order_history.item_description %>
</p>

<p>
  <b>Uom:</b>
  <%=h @purchase_order_history.uom %>
</p>

<p>
  <b>Remark:</b>
  <%=h @purchase_order_history.remark %>
</p>

<p>
  <b>Unit price:</b>
  <%=h @purchase_order_history.unit_price %>
</p>

<p>
  <b>Qty:</b>
  <%=h @purchase_order_history.qty %>
</p>

<p>
  <b>Deliver to:</b>
  <%=h @purchase_order_history.deliver_to %>
</p>

<p>
  <b>Term:</b>
  <%=h @purchase_order_history.term %>
</p>

<p>
  <b>Product code:</b>
  <%=h @purchase_order_history.product_code %>
</p>

<p>
  <b>Currency:</b>
  <%=h @purchase_order_history.currency %>
</p>

<p>
  <b>Currency unit price:</b>
  <%=h @purchase_order_history.currency_unit_price %>
</p>


<%= link_to 'Back', purchase_order_histories_path %>