
<% title "Listing Projects"  %>
<br />
<%= link_to image_tag("new.png", :title => "New"), new_project_path %>
<br /><br />
<% form_for @search do |f| %>
  <table class="list" style="width: auto">
    <tr>
      <th align="center">Code</th>
      <th align="center">Name</th>
      <th align="center">Address</th>
      <th align="center">PIC</th>
      <th><%=t "common.action" %></th>
    </tr>
    <tr>
      <td><%= f.text_field :code_like %></td>
      <td><%= f.text_field :name_like %></td>
      <td><%= f.text_field :address_like %></td>
      <td><%= f.select :project_supervisor_id_equals, ProjectSupervisor.all.map {|c| [c.name, c.id]}, {:include_blank => true} %></td>
      <td align="center"><%= f.submit(t "links.search") %></td>
   </tr>
</table>

<% end %>

<br />
<% paginated_section @projects do %>
<br /><br />
<table class="list">
  <thead>
  <tr>
    <th align="left">Code</th>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th align="left">Address</th>
    <th align="left">PIC</th>
    <th>Completed</th>
    <th>Action</th>
  </tr>
    </thead>
   <tbody>
<% @projects.each do |project| %>
    <tr class="<%= cycle("odd", "even") %>">
    <td><%=h project.code %></td>
    <td><%=h project.name %></td>
    <td><%=h project.description %></td>
    <td><%=h project.address %></td>
    <td><%=h project.project_supervisor.name rescue "-" %></td>
    <td align="center"><%=h project.completed %></td>
    <td align="center"><%= link_to 'Show', project %>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
     </tbody>
</table>

<br />

<% end %>