
<% title "Listing product groups"  %>
<br />
<%= link_to image_tag("new.png", :title => "New"), new_product_group_path %>
<br />
<br />
<%= will_paginate @suppliers %>
<br /><br />
<table class="list">
  <thead>
  <tr>
    <th align="left">Name</th>
    <th align="left">Description</th>
    <th>Suspend</th>
	<th>Action</th>
  </tr>
    </thead>
   <tbody>
<% @product_groups.each do |product_group| %>
   <tr class="<%= cycle("odd", "even") %>">
    <td><%=h product_group.name %></td>
    <td><%=h product_group.description %></td>
    <td align="center"><%=h product_group.suspend %></td>
 

      <td align="center"><%= link_to image_tag("show.png", :title => "show"), product_group %>
      <%= link_to image_tag("edit.png", :title => "Edit"),  edit_product_group_path(product_group) %>
      <%= link_to image_tag("delete.png", :title => "Delete"), product_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />
<%= will_paginate @suppliers %>
<br /><br />

