<% title ("Purchase Order by Product") %>
<br />
<% form_for @search do |f| %>
  <table calss="list" style="width: auto;">
    <tr>
      <th align="left">From Date</th><td><%= f.calendar_date_select :purchase_order_purchase_order_date_gte %></td>
      <th align="left">To Date</th><td><%= f.calendar_date_select :purchase_order_purchase_order_date_lte %></td>
    <tr>
      <th align="left">From expected delivery date</th><td><%= f.calendar_date_select :purchase_order_expected_delivery_date_gte %></td>
      <th align="left">To expected delivery date</th><td><%= f.calendar_date_select :purchase_order_expected_delivery_date_lte %></td>
    </tr>
    <tr>
      <th align="left">Product</th><td><%= f.select :product_id_equals, Product.all(:order => "name").map {|s| [s.name, s.id]}, :include_blank => true %></td>
      <th align="left"> </th><td><%= f.submit(t "links.search") %> | <%= link_to "Back", "/report/purchase_order_by_product_query"   %></td>
</tr>
</table>
<% end %>
<br />

<% if !@purchase_orders.empty? %>
<br />
<table style="width: 100%;border-style: solid;border-width: medium;border-spacing: 0">
  <thead>
  <tr>
    <th style="width: 100px;border-style: solid;border-width: thick;border-right: none;padding: 2px 2px 2px 2px">PO Date</th>
    <th style="border-style: solid;border-width: thick;border-right: none;padding: 2px 2px 2px 2px">PO No</th>
    <th style="border-style: solid;border-width: thick;border-right: none;padding: 2px 2px 2px 2px">Project</th>
    <th style="border-style: solid;border-width: thick;border-right: none;padding: 2px 2px 2px 2px">Description</th>

    <th style="border-style: solid;border-width: thick;border-right: none;padding: 2px 2px 2px 2px">Qty</th>

    <th style="border-style: solid;border-width: thick;border-right: none;padding: 2px 2px 2px 2px">U. Price</th>

    <th style="border-style: solid;border-width: thick;border-right: none;padding: 2px 2px 2px 2px">Supplier</th>
    <th style="border-style: solid;border-width: thick;padding: 2px 2px 2px 2px">Total</th>
    
  </tr>
</thead>
   <tbody>
   <%
     @product_name = ""
     @grand_total = {}
     @project_total_based_on_currency = {}
   %>
<% @purchase_orders.each do |item| %>
<%
  	if @grand_total.has_key?(item.currency.name)
       @grand_total[item.currency.name] += item.total_amount 
     else
       @grand_total = @grand_total.merge({ item.currency.name => item.total_amount })
     end
%>
   <% if @product_name == item.product.name 
         if  @project_total_based_on_currency.has_key?(item.currency.name)
           @project_total_based_on_currency[item.currency.name] += item.total_amount 
         else
           @project_total_based_on_currency = @project_total_based_on_currency.merge({ item.currency.name => item.total_amount })
         end
      else  	 %>

	    <% if !@project_total_based_on_currency.blank? %>
	     <tr>
	       <td colspan="8" style="width: 100%;height: 30px;text-align: right;border-style: solid;border-width: thin;">
	         <h2>Total : <%= @project_total_based_on_currency.map {|key, value| "#{key}  #{number_with_precision(value, :precision => 3)}" }.join(", ") %></h2>
	       </td>
	     </tr>
	    <% end %>
	    <% @project_total_based_on_currency = { item.currency.name => item.total_amount } %>
	    <% @product_name = item.product.name %>
	     <tr>
	       <td colspan="8" style="height: 38px;width: 100%;border-style: solid;border-width: thin;">
	         <h2><%= @product_name %></h2>
	       </td>
	     </tr>
	     <% end %>
   <tr>
    <td style="width: auto;border-style: solid;border-width: thin;border-bottom: none;border-right: none"><%=h item.purchase_order.purchase_order_date %></td>
    <td style="width: auto;border-style: solid;border-width: thin;border-bottom: none;border-right: none"><%=h item.purchase_order.purchase_order_number %></td>
    
    <td style="width: auto;border-style: solid;border-width: thin;border-bottom: none;border-right: none"><%=h item.purchase_order.project.name rescue " - "  %></td>
    <td style="width: auto;border-style: solid;border-width: thin;border-bottom: none;border-right: none"><%=h item.material.description rescue " - "  %></td>

    <td style="width: auto;border-style: solid;border-width: thin;border-bottom: none;border-right: none"><%=h item.quantity rescue " - "  %></td>

    <td style="width: auto;border-style: solid;border-width: thin;border-bottom: none;border-right: none;text-align:right;"><%=h "%.3f" % item.unit_price rescue " - "  %></td>

    <td style="width: auto;border-style: solid;border-width: thin;border-bottom: none;border-right: none"><%=h item.purchase_order.supplier_name rescue " - "  %></td>
    <td style="width: auto;border-style: solid;border-width: thin;border-bottom: none;text-align:right;"><%= "#{item.currency.name} " + ("%.3f" % item.total_amount) %></td>
   </tr>
   
<% end %>
    <% if !@project_total_based_on_currency.blank?  %>
      <tr>
       <td colspan="8" style="width: 100%;height: 30px;text-align: right;border-style: solid;border-width: thin;">
         <h2>Total : <%= @project_total_based_on_currency.map {|key, value| "#{key}  #{ number_with_precision(value, :precision => 3)}" }.join(", ") %></h2>
       </td>
     </tr>
    <% end %>
     </tbody>
</table>

<br />
 <% if !@grand_total.blank?  %>
<table style="width: 100%">
      <tr>
        <td style="width: 100%;height: 30px;text-align: right;border-style: solid;border-width: thin;">
         <h2>Grand Total : <%= @grand_total.map {|key, value| "#{key}  #{ number_with_precision(value, :precision => 3)}" }.join(", ") %></h2>
       </td>
     </tr>
     </table>
  <% end %>
<% end %>

