<% title (t "titles.supplier") %>
<br />
<p> <%= link_to image_tag("new.png", :title => "New"), new_supplier_path %></p>
<br />
<% form_for @search do |f| %>
<table class="list" style="width: auto">
  <thead>
	<tr>
	 <th align="left"><%=t 'supplier.code' %></th>
         <th align="left"><%=t 'supplier.name' %></th>
	 <th><%=t 'supplier.active' %></th>
	 <th><%=t 'common.action' %></th>	
	</tr>
	  </thead>
   <tbody>
	<tr>
            <td><%= f.text_field :code_begins_with %></td>
            <td><%= f.text_field :name_like %></td>
            <td align="center"><%= f.select :active, [["No", 0], ["Yes", 1]], {:include_blank => true}  %></td>
	    <td align="center"><%= f.submit(t "links.search") %></td>
	</tr>
	   </tbody>
</table>

<% end %>
<br />

<%= will_paginate @suppliers %>
<br /><br />
<table class="list">
  <thead>
  <tr>
    <th align="left"><%=t "supplier.code"  %></th>
    <th align="left"><%=t "supplier.name"  %></th>
    <th align="left"><%=t "supplier.office_phone"  %></th>
    <th align="left">Contact Person</th>
    <th align="left">Fax</th>
    <th align="left">Term</th>
    <th><%=t "common.action"  %></th>
  </tr>
    </thead>
   <tbody>
  <% for supplier in @suppliers %>
     <tr class="<%= cycle("odd", "even") %>">
      <td><%=h supplier.code %></td>
      <td><%=h supplier.name %></td>
      <td><%=h supplier.office_phone %></td>
      <td><%=h supplier.contact_person %></td>
      <td><%=h supplier.contact_number %></td>
      <td><%=h supplier.term %></td>
      <td align="center"><%= link_to image_tag("show.png", :title => "show"), supplier %>
      <%= link_to image_tag("edit.png", :title => "Edit"), edit_supplier_path(supplier) %>
      <%= link_to image_tag("delete.png", :title => "Delete"), supplier, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
   </tbody>
</table>

<br />
<%= will_paginate @suppliers %>
