<div class="menu">
  <ul>
    <li><a href="#" ><%=t 'menu.inventory' %></a>
       <ul>
          <li><a href="/product_groups">Product Groups</a></li>
          <li><a href="/product_categories"><%=t 'menu.product_category' %></a></li>
          <li><a href="/products"><%=t 'menu.product' %></a></li>
          <li><a href="/store_locations"><%=t 'menu.location' %></a></li>
          <li><a href="/stock_adjustments"><%=t 'menu.stock_adjustment' %></a></li>
          <li><a href="/stock_transfers"><%=t 'menu.stock_transfer' %></a></li>
          <li><a href="/goods_receive_notes">Goods Receive Note</a></li>
          <li><a href="/return_notes">Goods Return Note</a></li>
          <li><a href="/transportation_slips">Transportation Slip</a></li>
       </ul>
    </li>

        <li><a href="#" >Material</a>
       <ul>
          <li><a href="/material_groups">Material Groups</a></li>
          <li><a href="/material_categories">Material Category</a></li>
          <li><a href="/materials">Material</a></li>
          
       </ul>
    </li>

    <li><a href="#"><%=t 'menu.ap_management' %></a>
       <ul>
          <li><a href="/purchase_requisitions">Purchase Requisition</a></li>
          <li><a href="/purchase_orders"><%=t 'menu.purchase_order' %></a></li>
          <li><a href="/reserved_purchase_orders">Reserved PO No</a></li>
          <li><a href="/suppliers"><%=t 'menu.supplier' %></a></li>
          <li><a href="/supplier_payments"><%=t 'menu.payment' %></a></li>
       </ul>
    </li>
    <li><a href="#">AR Management</a>
       <ul>
          <li><a href="#">Sales Order</a></li>
          <li><a href="/invoices"><%=t 'menu.invoice' %></a></li>
          
          <li><a href="/customers"><%=t 'menu.customer' %></a></li>
          <li><a href="/customer_payments"><%=t 'menu.payment' %></a></li>
        </ul>
    </li>

    <li><a href="#"><%=t 'menu.admin' %></a>
       <ul>
          <li><a href="/companies"><%=t 'menu.company' %></a></li>
          <li><a href="/departments"><%=t 'menu.department' %></a></li>
          <li><a href="/users"><%=t 'menu.user' %></a></li>
          <li><a href="/document_categories"><%=t 'menu.document_category' %></a></li>
          <li><a href="/document_storages/category_index"><%=t 'menu.document' %></a></li>
       </ul>
    </li>

    <li><a href="#">Maintenance</a>
       <ul>
          <li><a href="/vehicles">Vehicle</a></li>
          <li><a href="/projects">Project</a></li>
           <li><a href="/project_supervisors">Project Supervisor</a></li>
          <li><a href="/currencies">Currency</a></li>
          <li><a href="/terms">Term</a></li>
          <li><a href="/uoms">UOMs</a></li>
          <li><a href="/expenses"><%=t 'menu.expenses' %></a></li>
                   
       </ul>
    </li>

    <li><a href="#"><%=t 'menu.report' %></a>
       <ul>
<li><a href="/report/purchase_orders">Purchases</a></li>

          <li><a href="/report/purchase_order_by_project_query">Purchase Order by Project</a></li>
           <li><a href="/report/purchase_order_by_supplier_query">Purchase Order by Supplier</a></li>   
           <li><a href="/report/purchase_order_by_product_query">Purchase Order by Product</a></li> 
       </ul>
    </li>
    <li><a href="/purchase_order_histories">PO History</a>
    </li>

  </ul>
</div>