<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title><%= h(yield(:title) || "iCode Solution") %></title>
    <!-- tasks : index -->
   
     <%= javascript_include_tag :defaults, 'jquery', 'flexigrid.pack' %>
     <%= stylesheet_link_tag 'layout1', 'menu_style', 'flexigrid.pack', :cache => 'cache/all' %>
     <%=  calendar_date_select_includes %>
      <script>
     jQuery.noConflict();
     
     // Use jQuery via jQuery(...)
     // jQuery(document).ready(function(){
     //  jQuery("div").hide();
     //});
        </script>
     <%= yield(:head) %>
  </head>
  <body>
  	
       <div id='header'>
        <%= render :partial => '/layouts/header' %>
       </div>
	   
      <% if is_admin? %>
	  <%= render :partial => '/layouts/admin_menu'  %>
      <% elsif is_user? %>
	  <%= render :partial => '/layouts/user_menu'  %>
      <% end %>

     <div style='float:left;margin-left:20px;width:80%;'>
	         <% flash.each do |name, msg| %>
	           <%= content_tag :p, msg, :class => "flash_#{name}" %>
	         <% end  %>
      </div>
   <table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%'>
       <tr>
        <td class='main' id='main' valign='top'>
         <% if show_title? %>
            <div class='title' id='title' style="clear: both;padding-top: 10px"> <%= yield(:title) %> </div>
         <%  end %>
         <%= @content_for_layout %>
       </td>
      </tr>
    </table>

   <%= render :partial => "/layouts/footer"%>  
   <%= yield(:footer) %>
  </body>
</html>
