<div class="menu">
  <ul>
    <li><a href="#" ><%=t 'menu.inventory' %></a>
       <ul>
          <li><a href="/store_locations"><%=t 'menu.location' %></a></li>
          <li><a href="/stock_adjustments"><%=t 'menu.stock_adjustment' %></a></li>
          <li><a href="/stock_transfers"><%=t 'menu.stock_transfer' %></a></li>
          <li><a href="/goods_receive_notes">Goods Receive Note</a></li>
          <li><a href="/return_notes">Goods Return Note</a></li>
          <li><a href="/transportation_slips">Transportation Slip</a></li>
       </ul>
    </li>

    <li><a href="#" >Material</a>
       <ul>
          <li><a href="/materials">Material</a></li>

       </ul>
    </li>

    <li><a href="#"><%=t 'menu.admin' %></a>
       <ul>
          <li><a href="/document_storages/category_index"><%=t 'menu.document' %></a></li>
       </ul>
    </li>




  </ul>
</div>